.slider {
  background-image: url("../img/home/banner.png");
  height: 30vh;
  background-size: cover;
  animation: movimiento 35s infinite linear alternate;
}

@keyframes movimiento {
  from {
    background-position: bottom left;
  }
  to {
    background-position: top right;
  }
}

.back-to-top {
  position: fixed;
  bottom: 28px;
  right: 85px;
  background-color: #f2ca52;
  display: none;
}

.fondoiconintranet {
  background-color: white;
  border: solid 2px #f2ca52;
}

.colorfondo {
  background-color: #e5e5e5;
}

.colorfondo2 {
  background-color: #f2ca52;
}

body {
  /* background-image: url(../img/home/fondobody.jpg); */
  background-image: url("../img/tela-gris-2.jpg");
  margin: 0;
}

.navbarcolor {
  background-color: #086f74;
}

.imagenClinicos {
  background-image: url(../img/carreras/clinicos1.jpg);
  height: 30vh;
  background-size: cover;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #000000;
}

.colorFondoContainer {
  background: #eccb5e;
}

.imagenContable {
  background-image: url(../img/carreras/nomina2.jpg);
  height: 30vh;
  background-size: cover;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #000000;
}

.imagenSistemas {
  background-image: url(../img/carreras/sistemas3.jpg);
  height: 30vh;
  background-size: cover;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #000000;
}


.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #000000;
}

/* .grad {
background:#ACD2CA;
} */

/* .colorFondotest{
background:#a4c3c3;
} */

.coloryellow {
  background: #fff8e0;
}

.modal-header,
.close {
  background-color: #5cb85c;
  color: white !important;
  text-align: center;
  font-size: 30px;
}

.colorletra {
  color: black;
}

.footer1 {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #212529;
}

.borderinput {
  padding: 3px;
  border: solid rgb(204, 204, 204) 1px;
}

.bordercustom2 {
  padding: 1px;
  border: solid #eccb5e 1px;
}

.letragoogletitulo {
  font-family: "Nunito", sans-serif;
}
