* {
    margin: 0;
    padding: 0;
}

.bodypreinscripcion {
    background-image: url('../img/preInscripcionIMG/fondo.jpg');
}

#regiration_form fieldset:not(:first-of-type) {
    display: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #375A7f;
    color: #f8f9fa;
    text-align: center;
}

.navbar-color {
    background-color: #375A7f;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.hide {
    display: none;
}